body {
  background: #fff;
  color: #242424;        
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

nav li {
  display: inline-block;
  padding-left: 15px;
  padding-top: 10px;
}

nav a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

nav a:hover {
  color: #242424;
  text-decoration: none;
}

header {
  background: url("../img/holiday.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

header nav {
  background-color: rgba(225, 225, 225, 0.3);
}

.jumbotron {
  background-color: transparent;
  padding-top: 10em;
}

.main-text {
  padding: 10px;
  line-height: 1.2em;
  max-width: 400px;
  background-color: rgba(225, 225, 225, 0.5);
}

.jumbotron p {
  
  font-weight: 300;
}

#about, #portfolio, #contact, footer {
  padding: 30px 0;
}

#services {
  padding: 30px 0 40px 0;
}

.small {
  width: 6em;
}

.service-item {
  margin-bottom: 20px;
}

#callout {
    height: 20em;
    color: #fff;
    background: url(../img/lens01.jpg) no-repeat center center scroll;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callout-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 6em;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

#contact a {
  color: #fff;
}

#contact a:hover {
  color: #242424;
  text-decoration: none;
}

.social i {
  font-size: 30px;
  padding: 10px 5px;
}

.map {
  height: 15em;
  width: 100%;
}

footer a {
  color: #242424;
  font-size: 16px;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

@media screen and (max-device-width: 480px) {
  #top {
    height: 35em;
  }
  .jumbotron {
    padding-top: 5em;
  }
  .jumbotron p {
    width: 100%;
  }
  #about p {
    padding: 0 10px;
  }
  #callout h1 {
    font-size: 3.2em;
  }
}